<article class="post">
  <div class="title">
    <span>{{title}}</span>
  </div>
  <div class="meta">
    {{post_contents}}
    by {{user.username}} on {{format_date created_at}}
    |
  </div>
</article>