<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
  <header class="hero">
    <nav>
      <h1>
      <a href="/"><span id="title">The Tech Blog</span></a>
      </h1>
      {{#if loggedIn}}
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <button id="logout" class="btn-logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    
  </header>
  <main>
    {{{ body }}}
  </main>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>
